<!DOCTYPE html>
<html>
	<head>
		<title>Converter</title>
		<meta charset='utf-8'/>
		<link rel='stylesheet' href='css/vendor/skeleton.css'/>
		<link rel='stylesheet' href='css/vendor/font-awesome.min.css' />
		<link rel='stylesheet' href='css/style.css?v=0' />
	</head>
	<body>
		<div id="container">

		</div>

		<script type="text/javascript" src="js/vendor/jszip.js"></script>
		<script type="text/javascript" src="js/vendor/cpexcel.js"></script>
		<script type="text/javascript" src="js/vendor/xlsx.js"></script>
		<script type="text/javascript" src="js/vendor/ractive-0.7.3.min.js"></script>
		<script type="text/javascript" src="js/vendor/underscore-1.8.3.min.js"></script>

		<script type="text/html" id="template-main">
			<div id="top-bar">
				<div class="row" id="file-input-container">
					<div class="twelve columns">
						<form id="file-input-form" method="post" action="" enctype="multipart/form-data">
						  <div class="file-input">
						    <input id="file-input-input" type="file" on-change="chooseFile" />
						    <label for="file-input-input"><strong>Choose a file</strong><span class="file-drag-n-drop"> or drag it here</span>.</label>
						  </div>
						</form>
						<span class="status-message">Status: {{statusMessage}}</span>
					</div>
				</div>

				<div class="row">
					<div class="nav-bar" id="sheets-nav">
						{{#sheets:i}}
							<button class="button{{#isVisible}}-primary icon-button-text{{/isVisible}}" on-click="navButtonPress:{{i}}">
								{{name}}
								{{#isVisible}}<i class="fa fa-angle-{{#showSettingsForm}}up{{/showSettingsForm}}{{^showSettingsForm}}down{{/showSettingsForm}} fa-2x"></i>{{/isVisible}}
								{{#showSettingsForm}}
									{{>settings-form}}
								{{/showSettingsForm}}
							</button>
						{{/sheets}}
					</div>
				</div>
			</div>

			<div id="sheets-container">
				{{#sheets:id}}
					{{#isVisible}}
						{{>sheet}}
					{{/isVisible}}
				{{/sheets}}
			</div>
		</script>

		<script id="sheet" type="text/html">
			<div class="sheet" id="sheet-{{id}}">
				<div class="row">
					<div class="six columns settings-form-container">
						
					</div>
				</div>
				<div class="row data-table-container">
					<button class="button-icon-text" on-click="scrollToElement:{{'sheet-' + id + '-xml'}}">
							<span>Go to XML</span>
							<i class="fa fa-hand-o-down fa-2x"></i>
					</button>
					{{>data-table}}
				</div>

				<div class="row data-xml-container">
					{{>xml}}
				</div>

			</div>
		</script>

		<script id="settings-form" type="text/html">
			<div class="settings-form" intro="slideDown" outro="slideDown">
				<form>
					<label>Root node name</label>
					<input type="text" class="u-full-width" value="{{rootTag}}"/>
					<label>
				    <input type="checkbox" checked="{{useCommonRowTag}}">
				    <span class="label-body">Use common row node name</span>
				  </label>
				  {{#useCommonRowTag}}
						<input type="text" class="u-full-width" value="{{commonRowTag}}"/>
					{{/useCommonRowTag}}
					<label>
				    <input type="checkbox" checked="{{useCommonColTag}}">
				    <span class="label-body">Use common column node name</span>
				  </label>
				  {{#useCommonColTag}}
						<input type="text" class="u-full-width" value="{{commonColTag}}"/>
					{{/useCommonColTag}}
					<label>
				    <input type="checkbox" checked="{{useSelfClosingTags}}">
				    <span class="label-body">Use self-closing tags</span>
			  	</label>
					<label>Tab Size</label>
					<input type="text" class="u-full-width" value="{{tabLength}}"/>
				</form>
			</div>
		</script>

		<script type="text/html" id="data-table">
			<table class="data-table" id="sheet-{{id}}-data-table">
				<tr>
					<th></th>
					{{#colTags}}
						<th>
							{{#useCommonColTag}}
								{{commonColTag}}
							{{/useCommonColTag}}
							{{^useCommonColTag}}
								<input type="text" value="{{this}}"  class="col-node-name" />
							{{/useCommonColTag}}
						</th>
					{{/colTags}}
					<th></th>
				</tr>
				{{#rows:r}}
					<tr class="{{deleted ? 'deleted' : ''}}">
						<th>
							{{#if !deleted}}
								{{#useCommonRowTag}}
									{{commonRowTag}}
								{{/useCommonRowTag}}
								{{^useCommonRowTag}}
									<input type="text" class="row-node-name" value="{{this.tag}}" />
								{{/useCommonRowTag}}
							{{/if}}
						</th>

						{{#children:i}}
							<td>{{.content}}</td>
						{{/children}}
						<td class="actions">
							<a class="button button-primary button-icon" on-click="useRowForColNodeNames: {{.}}" title="Use this row as column headers">
								<i class="fa fa-fw fa-table fa-2x"></i>
							</a>
							{{#if deleted}}
								<a class="button button-primary button-icon" on-click="unDeleteRow: {{.}}" title="Restore this row">
									<i class="fa fa-fw fa-undo fa-2x"></i>
								</a>
							{{else}}
								<a class="button button-primary button-icon" on-click="deleteRow: {{.}}" title="Delete this row">
									<i class="fa fa-fw fa-trash fa-2x"></i>
								</a>
							{{/if}}
						</td>
					</tr>
				{{/rows}}
			</table>
		</script>

		<script type="text/html" id="xml">
			<div class="xml-container" id="sheet-{{id}}-xml">
				<button on-click="scrollToElement:{{'sheet-' + id + '-data-table'}}">
						<span>Go to top of data table</span>
						<i class="fa fa-hand-o-up fa-2x"></i>
				</button>

				<pre><code>
					{{#if rows}}
						{{outputXML(.)}}
					{{/if}}
				</code></pre>
			</div>
		</script>

		<script type="text/javascript" src="js/script.js"></script>
</html>

