<!DOCTYPE html>
<html>
	<head>
		<title>Converter</title>
		<meta charset='utf-8'/>
		<link rel='stylesheet' href='css/vendor/skeleton.css'/>
		<link rel='stylesheet' href='css/vendor/font-awesome.min.css' />
		<link rel='stylesheet' href='css/style.css?v=0' />
	</head>
	<body>
		<div id="container">

		</div>

		<script type="text/javascript" src="js/vendor/simple-excel.js"></script>
		<script type="text/javascript" src="js/vendor/ractive-0.7.3.min.js"></script>
		<script type="text/javascript" src="js/vendor/underscore-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/vendor/xml2json.min.js"></script>

		<script type="template/javascript" id="template-main">
			<div class="row">
				<div class="six columns">
					{{>choose-file}}
				</div>
			</div>

			<div class="row">
				<div class="six columns" id="convert-form-container">
				{{#if dataSet}}
					<button class="button=primary" on-click="toggleConvertForm">Specify node tags</button>
					{{#if showConvertForm}}
						{{>convert-form}}
					{{/if}}
				{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="six columns" id="request-status">
					{{#if processing}}
						<i class="fa fa-circle-o-notch fa-spin loading"></i>
					{{/if}}
					{{statusMessage}}
				</div>
			</div>

			<div class="row" id="data-table-container">
				{{>data-table}}
			</div>

			<div class="row" id="data-xml-container">
				{{>xml}}
			</div>
		</script>

		<script id="choose-file" type="template/javascript">
			<form>
				<label for='file_input'>Choose file</label>
				<input class="u-full-width" type='file' name='file_input' id="input" on-change="chooseSheet" />
			</form>
		</script>

		<script id="convert-form" type="template/javascript">
			<form>
				<input type="hidden" name="{{data}}"/>
				<label>Root node name</label>
				<input type="text" class="u-full-width" value="{{data.tags.root}}"/>
				<label>
			    <input type="checkbox" checked="{{data.tags.useCommon.row}}">
			    <span class="label-body">Use common row node name</span>
			  </label>
			  {{#if data.tags.useCommon.row}}
					<input type="text" class="u-full-width" value="{{data.tags.common.row}}"/>
				{{/if}}
				<label>
			    <input type="checkbox" checked="{{data.tags.useCommon.col}}">
			    <span class="label-body">Use common column node name</span>
			  </label>
			  {{#if data.tags.useCommon.col}}
					<input type="text" class="u-full-width" value="{{data.tags.common.col}}"/>
				{{/if}}
			</form>
		</script>

		<script type="template/javascript" id="data-table">
			<table>
				<tr>
					<th></th>
					{{#each data.tags.cols}}
						<th>
							{{#data.tags.useCommon.col}}
								{{data.tags.common.col}}
							{{else}}
								<input type="text" value="{{this}}"  class="col-node-name" />
							{{/if}}
						</th>
					{{/each}}
					<th></th>
				</tr>
				{{#each data.rows:r}}
					<tr data-deleted="{{deleted ? 'true' : 'false'}}" class="{{deleted ? 'deleted' : ''}}">
						<th>
							{{#if !deleted}}
								{{#data.tags.useCommon.row}}
									{{data.tags.common.row}}
								{{else}}
									<input type="text" class="row-node-name" value="{{this.tag}}" />
								{{/if}}
							{{/if}}
						</th>

						{{#each this.children}}
							<td>{{this.content}}</td>
						{{/each}}
						<td class="actions">
							<a class="button" on-click="useRowForColNodeNames(r)">use row for node names</a>
							{{#if deleted}}
								<a class="button" on-click="unDeleteRow(r)">restore row</a>
							{{else}}
								<a class="button" on-click="deleteRow(r)">delete row</a>
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</table>
		</script>

		<script type="template/javascript" id="xml">
			<pre><code>
				{{#if data.rows}}
					{{outputNode({tag: data.tags.root, children: data.rows}) }}
				{{/if}}
			</code></pre>
		</script>



		<script type="text/javascript" src="js/script.js"></script>
</html>

