<!DOCTYPE html>
<html>
	<head>
		<title>Converter</title>
		<meta charset='utf-8'/>
		<link rel='stylesheet' href='css/vendor/skeleton.css'/>
		<link rel='stylesheet' href='css/vendor/font-awesome.min.css' />
		<link rel='stylesheet' href='css/style.css?v=0' />
	</head>
	<body>
		<div id="container">

		</div>

		<script type="text/javascript" src="js/vendor/jszip.js"></script>
		<script type="text/javascript" src="js/vendor/cpexcel.js"></script>
		<script type="text/javascript" src="js/vendor/xlsx.js"></script>
		<script type="text/javascript" src="js/vendor/ractive-0.7.3.min.js"></script>
		<script type="text/javascript" src="js/vendor/underscore-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/vendor/xml2json.min.js"></script>

		<script type="template/javascript" id="template-main">
			<div class="row">
				<div class="six columns">
					<form>
						<label for='file_input'>Choose file</label>
						<input class="u-full-width" type='file' name='file_input' id="input" on-change="chooseFile" />
						{{#processing}}
							<i class="fa fa-circle-o-notch fa-spin loading"></i>
						{{/processing}}
						{{statusMessage}}
					</form>
				</div>
			</div>

			<div class="row" id="sheets-nav">
				{{#sheets:i}}
					<button class="button{{#isVisible}}-primary{{/isVisible}}" on-click="switchSheet:{{i}}">{{name}}</button>
				{{/sheets}}
			</div>

			{{#sheets:id}}
				{{#isVisible}}
					{{>sheet}}
				{{/isVisible}}
			{{/sheets}}
		</script>

		<script id="sheet" type="template/javascript">
			<h4>Sheet: {{name}}</h4>
			<div class="sheet" id="sheet-{{id}}">
				<div class="row">
					<div class="six columns settings-form-container">
					{{#isVisible}}
						<button class="button-primary" on-click="toggleSettingsForm">Conversion settings</button>
						{{#showSettingsForm}}
							{{>settings-form}}
						{{/showSettingsForm}}
					{{/isVisible}}
					</div>
				</div>
				<div class="row data-table-container">
					{{>data-table}}
				</div>

				<div class="row data-xml-container">
					{{>xml}}
				</div>

			</div>
		</script>

		<script id="settings-form" type="template/javascript">
			<form class="settings-form">
				<label>Root node name</label>
				<input type="text" class="u-full-width" value="{{rootTag}}"/>
				<label>
			    <input type="checkbox" checked="{{useCommonRowTag}}">
			    <span class="label-body">Use common row node name</span>
			  </label>
			  {{#useCommonRowTag}}
					<input type="text" class="u-full-width" value="{{commonRowTag}}"/>
				{{/useCommonRowTag}}
				<label>
			    <input type="checkbox" checked="{{useCommonColTag}}">
			    <span class="label-body">Use common column node name</span>
			  </label>
			  {{#useCommonColTag}}
					<input type="text" class="u-full-width" value="{{commonColTag}}"/>
				{{/useCommonColTag}}
		    <input type="checkbox" checked="{{useSelfClosingTags}}">
		    <span class="label-body">Use self-closing tags</span>
			</form>
		</script>

		<script type="template/javascript" id="data-table">
			<table class="data-table">
				<tr>
					<th></th>
					{{#colTags}}
						<th>
							{{#useCommonColTag}}
								{{commonColTag}}
							{{/useCommonColTag}}
							{{^useCommonColTag}}
								<input type="text" value="{{this}}"  class="col-node-name" />
							{{/useCommonColTag}}
						</th>
					{{/colTags}}
					<th></th>
				</tr>
				{{#rows:r}}
					<tr data-deleted="{{deleted ? 'true' : 'false'}}" class="{{deleted ? 'deleted' : ''}}">
						<th>
							{{#if !deleted}}
								{{#useCommonRowTag}}
									{{commonRowTag}}
								{{/useCommonRowTag}}
								{{^useCommonRowTag}}
									<input type="text" class="row-node-name" value="{{this.tag}}" />
								{{/useCommonRowTag}}
							{{/if}}
						</th>

						{{#children:i}}
							<td>{{.content}}</td>
						{{/children}}
						<td class="actions">
							<a class="button" on-click="useRowForColNodeNames: {{.}}">use row for node names</a>
							{{#if deleted}}
								<a class="button" on-click="unDeleteRow: {{.}}">restore row</a>
							{{else}}
								<a class="button" on-click="deleteRow: {{.}}">delete row</a>
							{{/if}}
						</td>
					</tr>
				{{/rows}}
			</table>
		</script>

		<script type="template/javascript" id="xml">
			<pre><code>
				{{#if rows}}
					{{outputXML(.)}}
				{{/if}}
			</code></pre>
		</script>

		<script type="text/javascript" src="js/script.js"></script>
</html>

