body {
	margin: 0;
}

#top-bar {
	position: fixed;
	width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
#top-bar .row {
	padding: 5px;
}

#file-input-container {
	height: 25px;
}

#file-input-form {
  padding: 100px 20px;
  text-align: center;
  outline: 2px dashed black;
  outline-offset: -10px;
}

#file-input-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-drag-n-drop {
	font-weight: normal;
}

.status-message {
	margin-left: 10px;
}

#sheets-nav button {
	position: relative;
  margin-bottom: 0;
}

.nav-bar button {
  margin-left: -1px;
  margin-bottom: 0;
}

.nav-bar button:first-of-type {
	margin-left: 0;
}

.nav-bar button:not(:last-of-type) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.nav-bar button:not(:first-of-type) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#sheets-container {
	padding-top: 100px;
}

.settings-form-container {
	padding: 0 5px;
}

.settings-form {
  position: absolute;
  background: #eee;
  padding: 10px 30px;
  box-shadow: 0 0 2px #666;
}

button .settings-form {
	left: 0;
  color: initial;
  text-align: initial;
}

table {
	border-collapse: collapse;
}

table td, table th,
table td:first-child, table th:first-child {
	padding: 5px;
}

table input {
	margin: auto 0;
}

table .actions {
	white-space: nowrap;
}

table .button {
	margin-bottom: 0;
}

.data-table-container button:first-of-type, 
.xml-container button:first-of-type {
	margin-left: 5px;
}

.data-table {
	table-layout: fixed;
	width: 100%;
}

.data-table td {
	height: 10px;
	width: 40px;
	overflow: hidden;
}

.data-table tr.deleted td, 
.data-table tr.deleted th {
	background-color: rgba(123,13,13,0.5);
	color: #9E5151;
	border-color: rgba(123,13,13,0.5);
}

button:disabled,
button.button-primary:disabled {
    background: #999;
    color: #555;
    cursor: default;
}

.button-icon {
	padding: 5px;
}

.button-icon-text span {
	float: left;
  margin-right: 6px;
}

.button-icon-text .fa-2x {
	margin-top: 8px;
}
