button:disabled,
button.button-primary:disabled {
    background: #999;
    color: #555;
    cursor: default;
}

table {
	border-collapse: collapse;
}

table td, table th,
table td:first-child, table th:first-child {
	padding: 5px;
}

table input {
	margin: auto 0;
}

table .actions {
	white-space: nowrap;
}

table .button {
	margin-bottom: 0;
}

#data table {
	table-layout: fixed;
}

#data table td {
	height: 10px;
	width: 40px;
	overflow: hidden;
}

#data table .col-node-name {
	width: 100%;
}

#data table tr.deleted td, 
#data table tr.deleted th {
	background-color: rgba(123,13,13,0.5);
	color: #9E5151;
	border-color: rgba(123,13,13,0.5);
}